main {}
main .product {
    width: 100%; height: 100%;
    position: relative;
}
main .product .bg {
    padding: 80px;
    background-image: url(../images/about_ourstory/1_title.jpg); 
    background-attachment: fixed;
    background-size:cover;
    background-position:center;
}
main .product .bg::before {
    content: ''; display: block;
    width: 100%; height: 217px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute; left: 0; top: 0;
}
main .product .bg h1 {
    font-size: 3rem; color: #fff;
    font-family: 'Cardo', serif;
    position: relative; left: 250px;
}
main .product .productPage {
    margin: 0 auto;
    text-align: center;
    display: grid; 
    grid-template: 'item1 item2'
                    'item3 item4'
                    'item5 item6'
                    'item7 item8';
    grid-template-columns: 650px 650px;
    justify-content: center;
}
main .product .productPage .item {
    margin: 50px 30px;
}
main .product .productPage .item p, h2, .md {text-align: left;}
main .product .productPage .item p {
    font-size: 1rem; margin-top: 10px;
    color: #606060;
}
main .product .productPage .item p img {
    width: 612px;
}
main .product .productPage .item h2 {
    font-size: 1rem; color: #606060;
    font-weight: 700;
    margin-top: 20px;
}
main .product .productPage .item .md {
    margin: 10px 0;
}
main .product .productPage .item .md span {
    font-size: 0.688rem;
    color: #000; 
    border: 1px solid #ccc;
    padding: 2px 10px;
}
/* .jb-c {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    opacity: 0;
    transition: opacity 0.5s linear;
  }
  .jb-a:hover .jb-c {
    display: block;
    opacity: 1;
  } */