/* popup */
.selectShop {
    display: none;
}
.selectShop .bg {
    width: 100%; height: 100%;
    position: relative; z-index: 950;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
}
.selectShop .bg .shopBox {
    width: 290px;
    display: flex; flex-flow: column nowrap;
    background: #fff;
    border-radius: 10px;
    position: absolute; left: 45%; top: 40%;
}
.selectShop .bg .shopBox p {
    font-size: 0.875rem; color: #212121;
    padding: 60px 30px;
    border-bottom: 1px solid #ddd;
}
.selectShop .bg .shopBox .select {
    display: flex; flex-flow: row nowrap;
    align-items: center; justify-content: space-between;
}
.selectShop .bg .shopBox .select .continue {
    width: 50%;
    font-size: 0.75rem; color: #212121;
    text-align: center;
    padding: 20px 0;
    border-right: 1px solid #ddd;
}
.selectShop .bg .shopBox .select .goCart {
    width: 50%;
    font-size: 0.75rem; color: #212121;
    text-align: center;
    padding: 20px 0;
}
.selectShop .bg .shopBox .select .continue:hover {
    background: #ddd;
    color: #fff;
    transition: 0.2s;
    border-bottom-left-radius: 10px;
}
.selectShop .bg .shopBox .select .goCart:hover {
    background: #ddd;
    color: #fff;
    transition: 0.2s;
    border-bottom-right-radius: 10px;
}
/* popup */
.sharing {display: none;}
.sharing .bg {
    width: 100%; height: 100%;
    position: relative; z-index: 950;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
}
.sharing .bg .sharingBox {
    background: #fff;
    border-radius: 5px;
    position: absolute; left: 45%; top: 40%;
}
.sharing .bg .sharingBox .title {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    padding: 18px;
}
.sharing .bg .sharingBox .title h2 {
    font-size: 0.938rem; font-weight: 600;
}
.sharing .bg .sharingBox .title .sharingBtn {}
.sharing .bg .sharingBox .title .sharingBtn img {
    width: 18px;
}
.sharing .bg .sharingBox .box {
    padding: 0 18px 18px 18px;
}
.sharing .bg .sharingBox .box ul {
    display: flex; flex-flow: row nowrap;
} 
.sharing .bg .sharingBox .box ul li {
    padding: 5px;
} 
.sharing .bg .sharingBox .box ul li .line {
    display: flex; flex-flow: column nowrap; 
}
.sharing .bg .sharingBox .box ul li .band {
    display: flex; flex-flow: column nowrap;
}
.sharing .bg .sharingBox .box ul li .naver {
    display: flex; flex-flow: column nowrap; 
}
.sharing .bg .sharingBox .box ul li .facebook {
    display: flex; flex-flow: column nowrap;
}
.sharing .bg .sharingBox .box ul li .twitter {
    display: flex; flex-flow: column nowrap;
}
.sharing .bg .sharingBox .box ul li .line img {width: 60px; padding-bottom: 5px;}
.sharing .bg .sharingBox .box ul li .band img {width: 60px; padding-bottom: 5px;}
.sharing .bg .sharingBox .box ul li .naver img {width: 60px; padding-bottom: 5px;}
.sharing .bg .sharingBox .box ul li .facebook img {width: 60px; padding-bottom: 5px;}
.sharing .bg .sharingBox .box ul li .twitter img {width: 60px; padding-bottom: 5px;}
.sharing .bg .sharingBox .box ul li .line span {
    font-size: 0.75rem;
    color: #4f4f4f;
    text-align: center;
}
.sharing .bg .sharingBox .box ul li .band span {
    font-size: 0.75rem;
    color: #4f4f4f;
    text-align: center;
}
.sharing .bg .sharingBox .box ul li .naver span {
    font-size: 0.75rem;
    color: #4f4f4f;
    text-align: center;
}
.sharing .bg .sharingBox .box ul li .facebook span {
    font-size: 0.75rem;
    color: #4f4f4f;
    text-align: center;
}
.sharing .bg .sharingBox .box ul li .twitter span {
    font-size: 0.75rem;
    color: #4f4f4f;
    text-align: center;
}
.sharing .bg .sharingBox .copy {
    position: relative;
    padding: 0 18px 18px 18px;
}
.sharing .bg .sharingBox .copy #snsCopy {
    width: 100%;
    border: 1px solid #e5e7eb;
    padding: 6.5px 12px;
    background: #ddd;
}
.sharing .bg .sharingBox .copy .copySns {
    position: absolute; right: 18px; top: 0;
    font-size: 0.813rem; color: #4f4f4f;
    border: 1px solid #e5e7eb;
    padding: 7px 16px;
    background: #fff;
}
main {
    max-width: 1250px; margin: 0 auto;
}
main section {
    width: 100%;
}
main section .stage {
    width: 1250px; margin: 0 auto;
    display: flex; align-items: center;
    margin-bottom: 15px;
}
main section .stage a {
    font-size: 0.75rem;
}
main section .stage a:nth-child(1) {color: #4f4f4f66;}
main section .stage a:nth-child(2) {color: #4f4f4f;}
main section .stage img {
    color: #4f4f4f66;
    padding: 0 10px;
    height: 11px;
}
main section .shopInfo {
    display: flex; flex-flow: row nowrap;
    justify-content: center;
}
main section .shopInfo .shopImg {}
main section .shopInfo .shopImg .bigThumbnail {}
main section .shopInfo .shopImg .bigThumbnail img {width: 610px;}
main section .shopInfo .shopImg .smallThumbnail {
    text-align: center;
}
main section .shopInfo .shopImg .smallThumbnail img {width: 60px; margin-top: 10px; cursor: pointer;}
main section .shopInfo .infoWrap {
    margin: 10px 0 0 113px;
}
main section .shopInfo .infoWrap .container {}
main section .shopInfo .infoWrap .container .title {
    display: flex; flex-flow: row nowrap; align-items: center;
    margin-bottom: 10px;
}
main section .shopInfo .infoWrap .container .title h1 {
    font-size: 1.275rem; color: #4f4f4f; font-weight: 600;
}
main section .shopInfo .infoWrap .container .title p {
    display: block;
    font-size: 0.688rem; color: #000;
    padding: 2px 10px;
    border: 1px solid #ccc;
    margin-left: 5px;
}
main section .shopInfo .infoWrap .container .price {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
main section .shopInfo .infoWrap .container .price p {
    font-size: 1.125rem; color: #4f4f4f;
}
main section .shopInfo .infoWrap .container .price .share {}
main section .shopInfo .infoWrap .container .price .share img {
    height: 20px;
}
main section .shopInfo .infoWrap .container .explanation {}
main section .shopInfo .infoWrap .container .explanation > p {
    font-size: 0.75rem; color: #4f4f4f66;
    margin: 20px 0;
}
main section .shopInfo .infoWrap .container .explanation .deliveryInfo {}
main section .shopInfo .infoWrap .container .explanation .deliveryInfo p {
    font-size: 0.75rem; color: #4f4f4f; font-weight: 700;
    margin-bottom: 5px;
}
main section .shopInfo .infoWrap .container .explanation .deliveryInfo p em {
    font-size: 0.75rem; color: #4f4f4f;
    font-weight: 500; padding-left: 10px;
}
main section .shopInfo .infoWrap .container .explanation .deliverState {
    display: flex; flex-flow: row nowrap; align-items: center;
    padding: 12px 14px; background: rgba(0,0,0,0.03);
    margin: 20px 0;
}
main section .shopInfo .infoWrap .container .explanation .deliverState > p {
    background: #b4b4b4; border-radius: 50%; width: 25px; height: 25px;
    position: relative;
}
main section .shopInfo .infoWrap .container .explanation .deliverState p > img {
    width: 14px; position: absolute; left: 5px; top: 5px;
}
main section .shopInfo .infoWrap .container .explanation .deliverState .state {
    margin-left: 10px;
}
main section .shopInfo .infoWrap .container .explanation .deliverState .state p {
    font-size: 0.875rem; color: #4f4f4f;
    font-weight: 600;
}
main section .shopInfo .infoWrap .container .explanation .deliverState .state p em {
    color: #4f4f4f;
}
main section .shopInfo .infoWrap .container .choice {
    display: flex; flex-flow: column nowrap;
}
main section .shopInfo .infoWrap .container .choice p {
    font-size: 0.688rem; color: #4f4f4f; font-weight: 600;
    margin-bottom: 10px;
}
main section .shopInfo .infoWrap .container .choice .color {
    position: relative;
    display: flex; flex-flow: row nowrap;
}
main section .shopInfo .infoWrap .container .choice .color .white {margin-right: 5px;}
main section .shopInfo .infoWrap .container .choice .color .white::after {
    content: ''; display: inline-block;
    width: 24px ; height: 24px;
    background-color: #fff;
    margin-right: 1px;
    border: 1px solid #ccc;
}
main section .shopInfo .infoWrap .container .choice .color .white .wh {
    font-size: 0.815rem;
    width: 100px; height: 35px;
    color: #fff;
    background: #4f4f4f;
    padding: 3px;
    border-radius: 3px;
    text-align: center;
    position: absolute; top: 35px; left: -35px;
    display: none;
}
main section .shopInfo .infoWrap .container .choice .color .white:hover .wh {
    display: block;
}
main section .shopInfo .infoWrap .container .choice .color .gray {}
main section .shopInfo .infoWrap .container .choice .color .gray::after {
    content: ''; display: inline-block;
    width: 24px ; height: 24px;
    background-color: #655e5e;
    margin-right: 1px;
    border: 1px solid #ccc;
}
main section .shopInfo .infoWrap .container .choice .color .gray .gr {
    font-size: 0.815rem;
    width: 100px; height: 35px;
    color: #fff;
    background: #4f4f4f;
    padding: 3px;
    border-radius: 3px;
    text-align: center;
    position: absolute; top: 35px; left: -3px;
    display: none;
}
main section .shopInfo .infoWrap .container .choice .color .gray:hover .gr {
    display: block;
}
main section .shopInfo .infoWrap .container .purchase .buy {
    display: flex; justify-content: space-between;
    margin: 40px 0 10px 0;
}
main section .shopInfo .infoWrap .container .purchase .buy .buyNow {
    color: #fff; font-size: 0.875rem; font-weight: 500;
    background: #4f4f4f;
    border: 1px solid #4f4f4f;
    padding: 12px 59px;
}
main section .shopInfo .infoWrap .container .purchase .buy .cart {
    color: #4f4f4f; font-size: 0.875rem; font-weight: 500;
    background: #fff;
    border: 1px solid #ccc;
    padding: 12px 59px;
}
main section .shopInfo .infoWrap .container .purchase .buy .like {
    color: #4f4f4f; font-size: 0.875rem; font-weight: 500;
    background: #fff;
    border: 1px solid #ccc;
    padding: 12px 72px;
}
main section .shopInfo .infoWrap .container .purchase .buy .buyNow:hover {
    transition: 1s;
    background: #000;
    border: 1px solid #000;
}
main section .shopInfo .infoWrap .container .purchase .buy .cart:hover {
    transition: 1s;
    border: 1px solid #4f4f4f;
}
main section .shopInfo .infoWrap .container .purchase .buy .like:hover {
    transition: 1s;
    border: 1px solid #4f4f4f;
}
main section .shopInfo .infoWrap .container .purchase .naverpay {
    display: flex; align-items: center;
}
main section .shopInfo .infoWrap .container .purchase .naverpay .pay {
    background: #00c73c; padding: 14px 180px;
}
main section .shopInfo .infoWrap .container .purchase .naverpay .pay img {
    height: 18px;
}
main .shopInfo .infoWrap .container .purchase .naverpay .good {
    margin-left: 10px;
    font-size: 0.875rem; color: #00c73c;
    padding: 15px 17px;
    border: 1px solid #ccc;
}
main section .contents {
    display: flex; align-items: center; justify-content: center;
    border-bottom: 1px solid #ccc;
    margin: 40px 0 40px 0;
    padding: 0 0 20px 0;
}
main section .contents .detailInfo {
    font-size: 0.75rem; color: #4f4f4f4d;
    padding: 15px 45px;
}
main section .contents .purchaseReview {
    font-size: 0.75rem; color: #4f4f4f4d;
    padding: 15px 45px;
}
main section .contents .purchaseReview em{
    font-size: 0.75rem; color: #4f4f4f;
    margin-left: 5px;
}
main section .contents .qa {
    font-size: 0.75rem; color: #4f4f4f4d;
    padding: 15px 45px;
}
main section .contents .qa em {
    font-size: 0.75rem; color: #4f4f4f;
    margin-left: 5px;
}
main section .contents p {color: #4f4f4f4d;}
main section .contents a:hover {
    color: #4f4f4f;
    transition: 0.5s;
}
main section .detailImage{
    text-align: center;
}
main section .detailImage img {
    width: 1250px; margin: 0 auto;
}
main section .review {
    width: 1250px; margin: 0 auto;
    display: flex; flex-flow: column nowrap;
    justify-content: center;
    display: none;
}
main section .review .write {
    width: 110px;
    font-size: 0.75rem; color: #4f4f4f; font-weight: 600;
    border: 1px solid #ccc;
    padding: 10px 20px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
main section .review .write:hover {
    font-size: 0.75rem; color: #fff; font-weight: 600;
    background: #4f4f4f;
    border: 1px solid #4f4f4f;
    padding: 10px 20px;
    transition: 0.5s;
}
main section .review .photoReview {
    display: flex; align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
main section .review .photoReview img {
    width: 16px; margin-right: 10px;
}
main section .review .photoReview span {
    font-size: 0.875rem; color: #4f4f4fa6;
}
main section .review p {
    text-align: center;
    color: #4f4f4fa6; font-size: 0.75rem;
    padding: 100px 0 200px 0;
}
main section .question {
    width: 1250px; margin: 0 auto;
    display: flex; flex-flow: column nowrap;
}
main section .question .qa {
    font-size: 0.813rem; color: #4f4f4fb3;
    margin-bottom: 10px;
}
main section .question .inquiry {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
main section .question .inquiry a {
    font-size: 0.75rem; color: #4f4f4f; font-weight: 600;
    border: 1px solid #ccc;
    padding: 10px 20px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
main section .question .inquiry a:nth-child(1) {margin-right: 5px;}
main section .question .inquiry a:hover {
    font-size: 0.75rem; color: #fff; font-weight: 600;
    background: #4f4f4f;
    border: 1px solid #4f4f4f;
    padding: 10px 20px;
    transition: 0.5s;
}
main section .question .qaqa {
    text-align: center;
    color: #4f4f4fa6; font-size: 0.75rem;
    padding: 100px 0 200px 0;
}